{
  "presets": ["react-native-stage-0/decorator-support"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        ["babel-plugin-dotenv", {
          "replacedModuleName": "babel-plugin-dotenv",
          "configDir": "../../../"
        }]
      ]
    }
  }
}
